bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
click==6.7
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.8.0
six==1.11.0
SQLAlchemy==1.2.6
Werkzeug==0.14.1
WTForms==2.1
