{% extends 'admin/master.html' %}
{% from "formhelpers.html" import render_errors %}

{% block body %}

<div>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Kudos Home</a> <br><br>

    <a href="{{ url_for('admin.list_users') }}" class="btn btn-default">Users</a> <br><br>

    <a href="{{ url_for('admin.index') }}" class="btn btn-default {{ 'disabled' if not full }}">Short Nom List</a>
    <a href="{{ url_for('admin.index') }}?full" class="btn btn-default {{ 'disabled' if full }}">Full Nom List</a>
</div>

<br>

<a href="{{ url_for('admin.set_phase') }}?{{ 'full&' if full }}phase=0" class="btn btn-default {{ 'disabled' if phase == 0 }}">Switch to static phase</a>
<a href="{{ url_for('admin.set_phase') }}?{{ 'full&' if full }}phase=1" class="btn btn-default {{ 'disabled' if phase == 1 }}">Switch to nominating phase</a>
<a href="{{ url_for('admin.set_phase') }}?{{ 'full&' if full }}phase=2" class="btn btn-default {{ 'disabled' if phase == 2 }}">Switch to voting phase</a>

<br><br>

<div class="row">
    <div class="col-sm-4 col-lg-3">
        <form method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
            {{ pnform.csrf_token }}
            {{ pnform.dtnom(placeholder=pnform.dtnom.label.text) }}<br>
            {{ pnform.pnon }} {{ pnform.pnoff }}
            {{ render_errors(pnform.dtnom) }}
        </form>
        <br>
    </div>
    <div class="col-sm-4 col-lg-3">
        <form method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
            {{ pvform.csrf_token }}
            {{ pvform.dtvote(placeholder=pvform.dtvote.label.text) }}<br>
            {{ pvform.pvon }} {{ pvform.pvoff }}
            {{ render_errors(pvform.dtvote) }}
        </form>
        <br>
    </div>
    <div class="col-sm-4 col-lg-3">
        <form method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
            {{ psform.csrf_token }}
            {{ psform.dtstatic(placeholder=psform.dtstatic.label.text) }}<br>
            {{ psform.pson }} {{ psform.psoff }}
            {{ render_errors(psform.dtstatic) }}
        </form>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-lg-3">
        <form method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
            {{ aform.csrf_token }}
            {{ aform.adminuser(placeholder=aform.adminuser.label.text) }}<br>
            {{ aform.give }} {{ aform.take }}
            {{ render_errors(aform.adminuser) }}
        </form>
        <br>
    </div>
    <div class="col-sm-6 col-lg-3">
        <form name="bform" method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
            {{ bform.csrf_token }}
            {{ bform.banuser(placeholder=bform.banuser.label.text) }}
            {{ bform.email }} {{ bform.email.label }}<br>
            {{ bform.ban }} {{ bform.unban }}
            {{ render_errors(bform.banuser) }}
        </form>
        <br>
    </div>
</div>

<form name="nform" method="POST" action="{{ url_for('admin.index') }}{{ '?full' if full }}">
    {{ nform.csrf_token }}
    {{ nform.nomid(placeholder=nform.nomid.label.text) }}<br>
    {{ nform.rem }} {{ nform.rwarn }} {{ nform.rban }}
    {{ render_errors(nform.nomid) }}
</form>

<script>
    // Ask for confirmation for sensitive actions
    function onclickHandler() {
        this.form.submitName = this.name;
    }

    function banHandler() {
        if (this.email.checked) {
            var b = this.submitName == this.ban.name;
            return confirm(`Are you sure you want to ${b ? "ban" : "unban"} and email ${this.banuser.value}?`);
        };
    }

    function remHandler() {
        var msg = `Are you sure you want to remove Nomination ${this.nomid.value}`;
        var r = this.submitName == this.rem.name;
        if (!r) {
            var w = this.submitName == this.rwarn.name;
            var b = this.submitName == this.rban.name;
            msg += ` and ${w ? "warn" : b ? "ban/notify" : ""} the user`
        }
        return confirm(msg + "?");
    }

    document.bform.ban.onclick = onclickHandler;
    document.bform.unban.onclick = onclickHandler;
    document.bform.onsubmit = banHandler;

    document.nform.rem.onclick = onclickHandler;
    document.nform.rwarn.onclick = onclickHandler;
    document.nform.rban.onclick = onclickHandler;
    document.nform.onsubmit = remHandler;
</script>

<h1>Nominations</h1>
{% for award in awards %}
    {% if full %}
        <h2>{{ award.name }}</h2>
        {% for nom in award.nominations|sort(attribute="id") %}
            <b>{{ nom.votes }} votes</b> | {{ nom.name }} | {{ nom.creator.username }} | ID={{ nom.id }}
            <br>
        {% endfor %}
    {% else %}
        <h2><a href="{{ url_for('admin.list_noms', awd=award.id) }}">{{ award.name }}</a></h2>
    {% endif %}
{% endfor %}

<br><br><br>

{% endblock body %}
