{% extends 'admin/master.html' %}

{% block body %}

<h2>{{ award.name }}</h2>
{% for nom in award.nominations %}
    <b>{{ nom.votes }} votes</b> | {{ nom.name }} | {{ nom.creator.username }} | ID={{ nom.id }} | <a href="{{ url_for('admin.remove') }}?nom={{ nom.id }}">Remove</a> | <a href="{{ url_for('admin.remove') }}?nom={{ nom.id }}&warn={{ nom.creator.id }}">Remove and Warn</a> | <a href="{{ url_for('admin.remove') }}?nom={{ nom.id }}&ban={{ nom.creator.id }}">move, Ban, & Notify</a>
    <br>
{% endfor %}

{% endblock body %}
