{% extends 'admin/master.html' %}

{% block body %}

<div class="breakword">
    <h2>{{ award.name }}</h2>
    <form method="POST" onsubmit="return submitOnce(this);" id="remform">
        {{ form.csrf_token }}
        {{ form.nomid }}
        {{ form.warn }}
        {{ form.ban }}
    </form>
    {% for nom in award.nominations|sort(attribute="id") %}
        <div class="nom-line">
            <b>{{ nom.votes }} votes</b> | <span>{{ nom.name }}</span> | <span>{{ nom.creator.username }}</span> | ID=<span>{{ nom.id }}</span> | <a class="rem" href="#">Remove</a> | <a class="warn" href="#">Remove and Warn</a> | <a class="ban" href="#">Remove, Ban, & Notify</a><br>
        </div>
    {% endfor %}
</div>

<script>
    // Ask for confirmation for sensitive actions
    function onclickHandler() {
        var spans = this.parentElement.getElementsByTagName("span");
        var nom = spans[0].textContent;
        var user = spans[1].textContent;
        var nomid = spans[2].textContent;
        var msg = `Are you sure you want to REMOVE '${nom}'`;
        var r = this.className == "rem";
        var w = this.className == "warn";
        var b = this.className == "ban";
        if (!r) {
            msg += ` and ${w ? "WARN" : b ? "BAN/NOTIFY" : ""} ${user}`;
        };
        if (confirm(msg + "?")) {
            $("#nomid").val(nomid);
            $("#warn").val(w ? "y" : "");
            $("#ban").val(b ? "y" : "");
            $("#remform").submit();
        };
        return false;
    };

    document.addEventListener("DOMContentLoaded", function() {
        $(".nom-line a").click(onclickHandler);
    });
</script>

{% endblock body %}
