.breakword {
    word-break: break-word;
}

.award-name, .award-name * {
    color: #d77a3d;
}

.anchor:before {
    content: "";
    display: block;
    height: 75px; /* fixed header height */
    margin: -75px 0 0; /* negative fixed header height */
}

ul.errors {
    color: red;
}

ul.nominations li {
    font-size: 120%;
}

@media screen and (max-width: 480px) {
    ul.voting li {
        padding-bottom: 1em !important;
    }
}

.button.vote {
    background-color: lightgreen;
}

.button.vote:hover {
    background-color: #99f299;
}

/* Extra template definitions */

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.stacked.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.stacked.small li:first-child {
    padding-top: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}
