{% from "_formhelpers.html" import render_errors %}

<!DOCTYPE html>
<head>
    <title>Admin | Kudos</title>
    <link rel="icon" href="/static/images/oscar.png"/>
    <style>
      .error {color: red;}
      .success {color: green;}
    </style>
</head>
<div>
    <a href="{{ url_for('index') }}">Home</a> <br>
    <a href="{{ url_for('list_users') }}">Users</a>
</div>
<br/>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">
      {% if category == "error" %}
        <strong>Error:</strong>
      {% endif %}
      {{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if phase != 0 %}
    <a href="/admin/setphase?phase=0"><input type="submit" value="Switch to static phase"/></a>
{% endif %}
{% if phase != 1 %}
    <a href="/admin/setphase?phase=1"><input type="submit" value="Switch to nominating phase"/></a>
{% endif %}
{% if phase != 2 %}
    <a href="/admin/setphase?phase=2"><input type="submit" value="Switch to voting phase"/></a>
{% endif %}

<br/><br/>

<form method="POST" action="/admin/ban">
    {{ bform.csrf_token }}
    {{ bform.username() }}
    <input type="submit" value="Ban User">
    {{ render_errors(bform.username) }}
</form>

<form method="POST" action="/admin/unban">
    {{ uform.csrf_token }}
    {{ uform.username() }}
    <input type="submit" value="Unban User">
    {{ render_errors(uform.username) }}
</form>

<h1>Nominations</h1>
{% for award in awards %}
    <h2>{{ award.name }}</h2>
    {% for nom in award.nominations %}
        <b>{{ nom.votes }} votes</b> | {{ nom.name }} | {{ nom.creator.username }} | <a href="/admin/remove?nom={{ nom.id }}">Remove</a> | <a href="/admin/remove?nom={{ nom.id }}&warn={{ nom.creator.id }}">Remove and Warn</a> | <a href="/admin/remove?nom={{ nom.id }}&ban={{ nom.creator.id }}">Remove and Ban</a>
        <br/>
    {% endfor %}
{% endfor %}
