{% from "_formhelpers.html" import render_errors %}
{% extends "layout.html" %}

{% block body %}

{% if phase == 0 %}
    <a href="/admin/setphase?phase=1"><input type="submit" value="Switch to voting phase"/></a>
{% else %}
    <a href="/admin/setphase?phase=0"><input type="submit" value="Switch to nominating phase"/></a>
{% endif %}

<br/><br/>

<form method="POST" action="/admin/ban">
    {{ bform.csrf_token }}
    {{ bform.username() }}
    <input type="submit" value="Ban User">
    {{ render_errors(bform.username) }}
</form>

<form method="POST" action="/admin/unban">
    {{ uform.csrf_token }}
    {{ uform.username() }}
    <input type="submit" value="Unban User">
    {{ render_errors(uform.username) }}
</form>

<h1>Nominations</h1>
{% for award in awards %}
    <h2>{{ award.name }}</h2>
    {% for nom in award.nominations %}
        <b>{{ nom.votes }} votes</b> | {{ nom.name }} | {{ nom.creator.username }} | <a href="/admin/remove?nom={{ nom.id }}">Remove</a> | <a href="/admin/remove?nom={{ nom.id }}&warn={{ nom.creator.id }}">Remove and Warn</a> | <a href="/admin/remove?nom={{ nom.id }}&ban={{ nom.creator.id }}">Remove and Ban</a>
        <br/>
    {% endfor %}
{% endfor %}

{% endblock %}
