{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Change Password | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container medium">
        <header>
            <h2>Change your Password</h2>
            <p>Enter a new password below</p>
        </header>
        <div class="box">
            <form method="POST" onsubmit="return submitOnce(this);">
                {{ form.csrf_token }}
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-12">
                        {{ form.currentpass(placeholder=form.currentpass.label.text, class="floating-input") }}
                        <label for="currentpass" class="floating-label" data-content="{{ form.currentpass.label.text }}"><span>{{ form.currentpass.label.text }}</span></label>
                        {{ render_errors(form.currentpass) }}
                    </div>
                    <div class="col-12">
                        {{ form.password(placeholder=form.password.label.text, class="floating-input") }}
                        <label for="password" class="floating-label" data-content="{{ form.password.label.text }}"><span>{{ form.password.label.text }}</span></label>
                        {{ render_errors(form.password) }}
                    </div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" value="Change my password"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
