{% extends 'layout.html' %}

{% block title %}Kudos | Scotch'n'Soda{% endblock %}

{% block body_tag %}<body class="landing is-preload">{% endblock %}
{% block header_tag %}<header id="header" class="alt">{% endblock %}

{% block body %}
<!-- Banner -->
    <section id="banner">
        <h2>Kudos Awards!</h2>
        <p>Celebrating the best of the season in Scotch'n'Soda Theatre</p>
        <ul class="actions special">
            {% if current_user.is_authenticated %}
                {% if phase == 0 %}
                    <li><a href="{{ url_for('awards') }}" class="button primary">View Nominees</a></li>
                {% elif phase == 1 %}
                    <li><a href="{{ url_for('awards') }}" class="button primary">Nominations!</a></li>
                {% else %}
                    <li><a href="{{ url_for('awards') }}" class="button primary">Time to vote!</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('signup') }}" class="button primary">Create an Account</a></li>
                <li><a href="{{ url_for('signin') }}" class="button">Sign In</a></li>
            {% endif %}
        </ul>
    </section>

<!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2><b>What are Kudos Awards?</b></h2>
                <p>At the end of every year, we celebrate everything we loved about the past season in S'n'S, from the most talented performers to the rulers of the Black Chairs, to be awarded at the semester's Woodscotch. First is a round of nominations, followed by voting. Make an account and sign in to get started!</p>
            </header>
        </section>

    </section>
{% endblock body %}
