{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Nominations | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Nominations!</h2>
            <p>
                Enter a nomination in one of the text boxes below and click to submit!<br>
                Voting will begin after nominations close!
            </p>
        </header>
        <div class="box">
            <span class="image featured"><img src="/static/images/snsbanner.png" alt=""></span>
            <form method="POST" onsubmit="return submitOnce(this);" id="nomform">
                {{ form.csrf_token }}
                {{ form.award_id }}
                {{ form.entry }}
            </form>
            {% for award in awards %}
                <div class="anchor" id="{{ award.id }}">
                    <h2 class="award-name"><b>{{ award.name }}</b></h2>
                    <ul class="nominations">
                        {% for nom in award.nominations|sort(attribute="id") %}
                            <li>{{ nom.name }}</li>
                        {% endfor %}
                    </ul>
                    <form class="entry-form">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-9 col-12-mobilep">
                                {% if form.award_id.data == award.id|string %}
                                    <input placeholder="{{ form.entry.label.text }}" type="text" required="" value="{{ form.entry.data }}">
                                    {{ render_errors(form.entry) }}
                                {% else %}
                                    <input placeholder="{{ form.entry.label.text }}" type="text" required="">
                                {% endif %}
                            </div>
                            <div class="col-3 col-12-mobilep">
                                <input type="submit" value="Submit" class="fit">
                            </div>
                        </div>
                    </form>
                    {% if award != awards[-1] %}
                        {# Only put lines between awards, not after the last one #}
                        <hr>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // use form submission procedure to get browser validation on required field
        function submitEntry() {
            var awdid = $(this).closest(".anchor").attr("id");
            $("#award_id").val(awdid);
            $("#entry").val($(this).find("input").first().val());
            $("#nomform").prop("action", `{{ url_for('awards') }}#${awdid}`);
            $("#nomform").submit();
            return false;
        };

        $(".entry-form").submit(submitEntry);
    </script>
{% endblock body %}
