{% extends 'layout.html' %}

{% block title %}Nominees | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Nominees</h2>
            <p>Nominations and voting are closed. Here is a list of all the nominees.</p>
        </header>
        <div class="box">
            <span class="image featured"><img src="/static/images/snsbanner.png" alt="" /></span>
            {% for award in awards %}
                <h2 id="{{ award.id }}" class="target"><b style="color: #d77a3d">{{ award.name }}</b></h2>
                <ul>
                    {% for nom in award.nominations %}
                        <li style="font-size: 120%">{{ nom.name }}</li>
                    {% endfor %}
                </ul>
                {% if award != awards[-1] %}
                    {# Only put lines between awards, not after the last one #}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock body %}
