{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Nominations | Kudos{% endblock %}

{% block head %}
<script>
    var submitted = false;
    function buttonClick(button) {
        if (!submitted)
            submitted = true;
        else
            button.disabled = true;
    }
</script>
{% endblock head %}

{% block body %}
<!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Nominations!</h2>
            <p>Enter a nomination in one of the text boxes below and click to submit!</p>
        </header>
        <div class="box">
            <span class="image featured"><img src="/static/images/snsbanner.png" alt="" /></span>
            {% for award in awards %}
                <h2 id="{{ award.id }}"><b style="color: #d77a3d">{{ award.name }}</b></h2>
                <ul>
                    {% for nom in award.nominations %}
                        <li style="font-size: 120%">{{ nom.name }}</li>
                    {% endfor %}
                </ul>
                <form method="POST">
                    <div class="row uniform 50%">
                        <div class="9u 12u(mobilep)">
                            {{ form.csrf_token }}
                            {{ form.award_id(value=award.id) }}
                            {{ form.entry(placeholder=form.entry.label.text) }}
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Submit" class="fit" onclick="buttonClick(this);" />
                        </div>
                    </div>
                    {{ render_errors(form.entry) }}
                </form>
                {% if award != awards[-1] %}
                    {# Only put lines between awards, not after the last one #}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock body %}