{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Reset | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container 75%">
        <header>
            <h2>Resend Confirmation Email</h2>
            <p>Enter your username below and you will be emailed a new confirmation link</p>
        </header>
        <div class="box">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row uniform 50%">
                    <div class="12u">
                        {{ form.username(placeholder=form.username.label.text) }}
                        {{ render_errors(form.username) }}
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li><input type="submit" value="Submit"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
