{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Reset | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container medium">
        <header>
            <h2>Request a Password Reset</h2>
            <p>Enter your username below and you will be emailed a reset link</p>
        </header>
        <div class="box">
            <form method="POST" onsubmit="return submitOnce(this);">
                {{ form.csrf_token }}
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-12">
                        {{ form.username(placeholder=form.username.label.text, class="floating-input") }}
                        <label for="username" class="floating-label" data-content="{{ form.username.label.text }}"><span>{{ form.username.label.text }}</span></label>
                        {{ render_errors(form.username) }}
                    </div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" value="Submit"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
