{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Sign Up | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container 75%">
        <header>
            <h2>Create an Account</h2>
            <p>Sign up so you can start participating!</p>
        </header>
        <div class="box">
            <form method="POST" onsubmit="return submitOnce(this);">
                {{ form.csrf_token }}
                <div class="row uniform 50%">
                    <div class="12u">
                        {{ form.username(placeholder=form.username.label.text) }}
                        {{ render_errors(form.username) }}
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="12u">
                        {{ form.password(placeholder=form.password.label.text) }}
                        {{ render_errors(form.password) }}
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li><input type="submit" value="Register"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
