{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Sign In | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container 75%">
        <header>
            <h2>Sign In</h2>
            <p>Enter your login information below</p>
        </header>
        <div class="box">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row uniform 50%">
                    <div class="12u">
                        {{ form.username(placeholder=form.username.label.text) }}
                        {{ render_errors(form.username) }}
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="12u">
                        {{ form.password(placeholder=form.password.label.text) }}
                        {{ render_errors(form.password) }}
                    </div>
                </div>
                <p>
                    <a href="{{ url_for('reset') }}">Forgot Password</a><br>
                    <a href="{{ url_for('resend') }}">Resend Email</a>
                </p>
                <div class="row uniform 50%">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li><input type="submit" value="Sign In"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
