{% extends 'layout.html' %}
{% from "formhelpers.html" import render_errors %}

{% block title %}Sign In | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container medium">
        <header>
            <h2>Sign In</h2>
            <p>Enter your login information below</p>
        </header>
        <div class="box">
            <form method="POST" onsubmit="return submitOnce(this);">
                {{ form.csrf_token }}
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-12">
                        {{ form.username(placeholder=form.username.label.text, class="floating-input") }}
                        <label for="username" class="floating-label" data-content="{{ form.username.label.text }}"><span>{{ form.username.label.text }}</span></label>
                        {{ render_errors(form.username) }}
                    </div>
                    <div class="col-12">
                        {{ form.password(placeholder=form.password.label.text, class="floating-input") }}
                        <label for="password" class="floating-label" data-content="{{ form.password.label.text }}"><span>{{ form.password.label.text }}</span></label>
                        {{ render_errors(form.password) }}
                        <p>
                            <a href="{{ url_for('reset') }}">Forgot Password</a><br>
                            <a href="{{ url_for('resend') }}">Resend Email</a>
                        </p>
                    </div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" value="Sign In"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
