{% extends 'layout.html' %}

{% block title %}Voting | Kudos{% endblock %}

{% block body %}
<!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Voting!</h2>
            <p>Use the buttons below to vote for your favorite in each category! Voting is immediate and modifiable, no need to submit!</p>
        </header>
        <div class="box">
            <span class="image featured"><img src="/static/images/snsbanner.png" alt="" /></span>
            {% for award in awards %}
                <h2 id="{{ award.id }}" class="target"><b style="color: #d77a3d">{{ award.name }}</b></h2>
                <ul class="actions">
                    {% for nom in award.nominations %}
                        {% if nom in current_user.selections %}
                            {% set bcolor = "lightgreen" %}
                        {% else %}
                            {% set bcolor = "transparent" %}
                        {% endif %}
                        <li style="font-size: 120%"><a class="button alt icon fa-check small" name="nom{{ nom.id }}" id="{{ nom.id }}" onclick="submit_vote(this.id)" style="background-color: {{ bcolor }};">Vote</a> {{ nom.name }}</li>
                        <br>
                    {% endfor %}
                </ul>
                {% if award != awards[-1] %}
                    {# Only put lines between awards, not after the last one #}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <header><h3>Voting is immediate and modifiable, no need to submit!</h3></header>
    </section>
{% endblock body %}

{% block scripts %}<script src="/static/assets/js/voting_buttons.js"></script>{% endblock %}
